#formButton {
    position: absolute;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
    font-weight: bold;
    line-height: 35px;    
    margin: 0 auto;
    max-width: 150px;
}

#changePasswordBtn {
  max-width: 170px;
}

#formButton a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 135%;
    position: relative;
}

.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  #die {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: roll-dice;
    animation-duration: 0.5s;
  }
  
  @keyframes roll-dice {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.card-container .card {
    display: none;
}

.card-container .card .card-img-top {
    width: 400px;
    height: 400px;
}

#diceImg {
    max-width: 150px;
    max-height: 150px;
}

#passwordModal {
  left: 200px;
  top: 200px;
}

